Django>=5.2,<5.3
django-vite>=3.0,<4.0
uuid6>=2022.10.25
django-crispy-forms>=2.4
crispy-bootstrap5>=2024.1
sqlparse>=0.5
python-dotenv>=1.0
dj-database-url>=2.2
psycopg[binary]>=3.2
whitenoise>=6.7
gunicorn>=23.0
