{% extends "urlapp/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
<title>{% trans "password_reset_confirm_title" %}</title>
{% endblock title %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend class="border-bottom mb-4">{% trans "password_reset_confirm_heading" %}</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="mb-3">
				<button class="btn btn-outline-info" type="submit">{% trans "password_reset_confirm_button" %}</button>
			</div>
		</form>
	</div>
{% endblock content %}
