{% extends "urlapp/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
<title>{% trans "profile_title" %}</title>
{% endblock title %}

{% block content %}
	<div class="content-section">
		<div class="text-center mb-3">
			<h2 class="account-heading">{{user.username}}</h2>
			<p class="text-secondary">{{user.email}}</p>
		</div>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>
				<legend class="border-bottom mb-4">{% trans "profile_info_heading" %}</legend>
				{{ u_form|crispy }}
			</fieldset>
			<div class="d-flex justify-content-between mb-3 buttons">
				<button class="btn btn-primary" type="submit">{% trans "profile_change_button" %}</button>
				<button type="submit" form="logout-form" class="btn btn-danger">{% trans "profile_logout_button" %}</button>
			</div>
		</form>
		<form id="logout-form" method="POST" action="{% url 'logout' %}">
			{% csrf_token %}
		</form>
	</div>
{% endblock content %}
