{% extends 'urlapp/base.html' %}
{% load static %}

{% block title %}
<title>Urls</title>
{% endblock title %}

{% block css-includes %}
<link rel="stylesheet" href="{% static 'urlapp/surls.css' %}">
{% endblock css-includes %}

{% block content %}
<table>
    <tr>
        <th>number</th>
        <th>Short link</th>
        <th>Original link</th>
        <th>Last visit time</th>
        <th>Visit counter</th>
    </tr>
{% for surl in surls %}
    <tr>
        <th>{{ forloop.counter }}</th>
        <th><a href="{{request.scheme}}://{{request.get_host}}/{{surl.short_url}}">
                    {{request.get_host}}/{{surl.short_url}}
                </a></th>
        <th><a href="{{ surl.given_url }}">
                    {{ surl.given_url }}</a></th>
        <th>{{ surl.creat_date }}</th>
        <th>{{ surl.visit_count }}</th>
    </tr>
{% endfor %}
</table>

{% endblock content %}

